{% extends "base.html" %}

{% block title %}Index{% endblock %}

{%block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <br>
        <p>Hi, this is my home. This site is only here to let you know this web app is actually for api's only!</p>

        <p>This api is a "man page"-styled app that will allow users to search content as well as add to this athenaeum of forensic knowledge.</p>
{% endblock %}

<!--Note that since the child template doesn’t define the footer block, the value from the parent template is used instead.-->

<p>To use this website you can either navigate via the href links or you may search pages in the URI as /Notes/<page_name></page_name></p>

<div>
    <p>As for the API</p>
        <div>
            <p>it is not implimented yet.</p>
        </div>

</div>