{% extends "base.html" %}

{% block title %}Windows Forensics{% endblock %}

{%block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Windows_Forensics_0"></a>Windows Forensics</h1>
<ul>
<li class="has-line-data" data-line-start="2" data-line-end="3"><a href="active_directory">Active Directory Notes and Presentations and Tools</a></li>
<li class="has-line-data" data-line-start="3" data-line-end="4"><a href="presentations/SpectreOps_Keberoasting.md">Kerberoasting</a></li>
<li class="has-line-data" data-line-start="4" data-line-end="5"><a href="USB_info.txt">USB Info</a></li>
<li class="has-line-data" data-line-start="5" data-line-end="6"><a href="windowsplus.sh">Windows Registry lookup bash script</a></li>
<li class="has-line-data" data-line-start="6" data-line-end="7"><a href="Windows_Beginnings.md">Windows Beginnings (Easy to check registry locations)</a></li>
<li class="has-line-data" data-line-start="7" data-line-end="9">Volatility Usage
<ul>
<li class="has-line-data" data-line-start="8" data-line-end="9"><a href="automate_vol.sh">Volatiltiy Script</a></li>
</ul>
</li>
</ul>
<ul>
<li class="has-line-data" data-line-start="11" data-line-end="12"><a href="https://github.com/ForensicArtifacts/artifacts/blob/master/docs/Artifacts%20definition%20format%20and%20style%20guide.asciidoc">DB of Windows Artifacts Github</a></li>
</ul>
<p class="has-line-data" data-line-start="15" data-line-end="16">From VMware to Vbox: <code>ovftool “C:\Users\NAME\Documents\Virtual Machines\Windows 7 x64\Windows 7 x64.vmx” C:\Users\NAME\export.ovf</code></p>

{% endblock %}