extends layout

block content
    p Welcome to Beer's dedicated page
    img(src='/images/monarchmilkstout.png' style='height:300px')

    h2 #{pp}

    h3 What is a #{pp}?
    p Porter is a style of beer that was developed in London in the early eighteenth century. It was well-hopped and dark in appearance due to the use of brown malt. The name originated due to its popularity with street and river porters. 
    p The popularity of porter was significant, and it became the first beer style to be brewed across the world, and production had commenced in Ireland, North America, Sweden and Russia by the end of the eighteenth century. The name "stout", used for a dark beer, is believed to have come about because strong porters were marketed under such names as "extra porter", "double porter", and "stout porter". The term stout porter would later be shortened to just stout. 
    p Porters use malted barley. <a href="https://en.wikipedia.org/wiki/Porter_(beer)">Source</a>

    h2 #{stout}

    h3 What is a #{stout}?
    p Stouts are primarily made from unmalted roasted barley, which is where the coffee flavor most people associate with stout comes from. <a href="https://vinepair.com/wine-blog/difference-between-porter-stout-beer/">Source</a>
    p Stout is a dark, top-fermented beer with a number of variations, including dry stout, Baltic porter, milk stout, and imperial stout.
    p The first known use of the word stout for beer was in a document dated 1677 found in the Egerton Manuscripts, the sense being that a "stout beer" was a strong beer, not a dark beer. The name porter was first used in 1721 to describe a dark brown beer that had been made with roasted malts. Because of the huge popularity of porters, brewers made them in a variety of strengths. The stronger beers, typically 7% or 8% alcohol by volume (ABV), were called "stout porters", so the history and development of stout and porter are intertwined, and the term stout has become firmly associated with dark beer, rather than just strong beer. Even today, there are not many distinctions between stouts and porters, and the terms are used by different breweries almost interchangeably to describe dark ales, and the two styles have more in common than in distinction. <a href="http://allaboutbeer.com/beer_style/stout/">Source</a>

    h2 My favorite Beer's
    ol
        li
            a Guiness
        li
            a Firestone Walker Nitro Merlin Milk Stout     
        li
            a Walking Tree Oatmeal Stout
        li
            a Unita Brewing Vanilla Porter Season Pass
        li
            a Deep Brewing Co. Nyctophile Stout