extends layout

block content
    p Welcome to Bourbon's dedicated page
    img(src='/images/bourbon.jpeg')

    h2 What makes bourbon different from whiskey?
    p The name comes from an area known as "Old Bourbon" in Kentucky, is a whiskey that's distilled from corn. For a whiskey to be considered bourbon, the grain mash must be at least 51 percent corn. On top of that, by law the mixture must be stored in charred oak containers and cannot contain any additives. <a href="https://www.huffpost.com/entry/whiskey-bourbon-scotch-ry_b_9548538">Source</a>
    
    p Here is a list of my favorite #{drink}'s
    ol 
        li
            <a href="https://www.buffalotracedistillery.com/"> Buffalo Trace</a>
        li
            a Maker's Mark
        li
            a Jim Beam
        li
            a Knob Creak
        li
            a Four Roses