extends layout

block content
  h3 Welcome and #{title}

  ul
    li
      a(href="/aboutus") About Us
    li
      a(href="/bourbon") Bourbon
    li
      a(href="/whiskey") Whiskey
    li
      a(href="/beer") Beer    
    li
      a(href="/lbeer") Light Beer

  img(src='images/giphy.gif')
