extends layout

block content
  h3 Welcome and #{title}

  ul
    li
      a(href="/bourbon") Bourbon
    li
      a(href="/whiskey") Whiskey
    li
      a(href="/beer") Beer    
    li
      a(href="/lbeer") Light Beer
    li
      a(href="/aboutus") About Us
  
  //dont forget to indent here!
  img(src='/images/trumpy.png') 
