doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 <a href="/" style='text-decoration: none; color:black;'>TakeASwig Home</a>
    block content

    