extends layout

block content
    p Welcome to Light Beer's dedicated page
    img(src='/images/deepbrew.jpg' style='height:300px')

    
    h2 My favorite Light Beer's
    ol
        li
            a Kona Longboard
        li
            a Reformation Union     
        li
            a Maibock Jelled bock
        li
            a Red Brick Hibiscuwit Wheat Ale
        li
            a Abita Grapefruit Honey Lager