extends layout

block content
    p Welcome to Whiskey's dedicated page
    img(src='/images/jameson.jpg' style='height:500px')

    p Here is a list of my favorite #{drink}'s
    ol 
        li
            a Jack Daniels Tennessee Honey
        li
            a Fireball
        li
            a Jameson
